html{
    background-image: url(bgimage.jpg);
    background-size:cover;
    font-size: 20px;
}
body{
    margin-left: 15px;
    margin-right: 15px;
}
.header{
    
    height:50px;
    margin-top: 15px;
    
    background-color:#25865F;
}


#logo_div {
    float: left;
    height:50px;
}

#logo{
    height: 50px;
}

#nav-bar{
    float:right;
    margin-top: 15px;
    height:auto;
    
}

#nav-bar a{
    text-decoration: none;
    color:white;
    height:auto;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 12px;
    padding-right: 30px;
    padding-left: 30px;
}

#nav-bar a:hover{
    background-color: grey;
    color:black;
   
}

#profile_photo{
    margin-top: 50px;

    width:25%;
    float:left;
}

#profile_photo img{
    width:100%;
}

#details{
    width:600px;
    display: inline-block;
    margin-left: 25px;
}

#personal_details h3{
    margin-top: 50px;
    margin-bottom: 5px;
}
#personal_details h4{
    margin-top: 10px;
    margin-left: 40px;
}

#programmingskills{
    float:left;
}
#programmingskills h4{
    margin-top: 10px;
    margin-bottom: 10px;
}

#skillList{
    margin-top: 10px;
}

#Toolsskills{
    float:right;
}

#Toolsskills h4{
    margin-top:10px;
    margin-bottom: 10px;;
}

#toolList{
    margin-top:10px;
}
#side-bar{
    background-color:#C0C0C0;
    font-style: italic;
    border-color: black;
    border:solid;
    float: right;
    width: 200px;
    margin-top:20px;
    height: 395px;
    
}

#side-bar-element{
    margin-left: 15px;
}

#side-bar-element h4{
    margin-bottom: 10px;
}

#side-bar-list{
    margin-top:10px;
}
#history{
    margin-top: 30px;
    margin-bottom: 40px;

}

#advantage{
    margin-top: 30px;
}

#contact_icon{
    margin-left: 10px;
}
#contact_icon img{   
    height:50px;
}